.input {
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.inputField {
    padding: 20px;
    font-size: 15px;
    flex-grow: 1;
    @media (max-width: 365px) {
        font-size: 10px;
    }
}
.addBtn {
    width: 100px;
    border-radius: 10px;
    height: 40px;
    font-size: 15px;
    background-color: rgb(246, 146, 255);
    color: #fff;
    font-weight: 700;
    transition: all .2s ease;
    &:hover {
        background-color: rgba(246, 146, 255, .6);
    }
    @media(max-width: 365px) {
        font-size: 10px;
    }
}